$chart_highlight_color: #b8236d;

.wp-block-prc-block-chart.block-editor-block-list__block:not(.remove-outline) {
	&.is-highlighted,
	&.is-selected {
		&::after {
			outline-color: $chart_highlight_color;
		}
	}

	&.block-editor-block-list__block:not([contenteditable]):focus {
		&::after {
			outline-color: $chart_highlight_color;
		}
	}

	&.block-editor-block-list__block:not([contenteditable]).has-block-overlay:hover:not(.is-dragging-blocks):not(.is-multi-selected) {
		&::before {
			background: rgba(2, 181, 213, .04);
			outline-color: $chart_highlight_color;
		}
	}
}

// Hide tables in the block list inspector/example.
.wp-block-prc-block-chart.wp-block:not(.is-selected):not(.has-child-selected) {
	.chart-builder-data-table {
		display: none!important;
	}
}