.vscode
node_modules
node_modules/
vendor/
composer.lock

# Yarn v2
.pnp.*
.yarn/*
*.yarn/
*/*/.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Testing
artifacts/

# Composer
/vendor/
composer.lock

# PHPUnit
/coverage/
.phpunit.result.cache

# WordPress Tests
/tmp/
/wordpress-tests-lib/
