$thunder: #231f20;
$scorpion: #565656;
$gray: #818181;
$gallery: #eee;
$white: #ffffff;
$franklin: franklin-gothic-urw, Verdana, Geneva, sans-serif;
$georgia:
	Georgia,
	Times New Roman,
	Times,
	serif;

// Hide tables in the block list inspector/example.
.block-editor-block-preview__content-iframe.block-editor-iframe__html
	.wp-block-prc-block-chart-builder-controller
	.chart-builder-data-table {
	display: none !important;
}

.wp-block-prc-block-chart-builder-controller {
	&.alignleft {
		float: left;
		margin-inline-start: 0 !important;
		margin-inline-end: 2em !important;
	}
	&.alignright {
		float: right;
		margin-inline-start: 2em !important;
		margin-inline-end: 0 !important;
	}
	&.aligncenter {
		display: block;
		margin-inline-start: auto !important;
		margin-inline-end: auto !important;
	}
	&[data-hide-table] {
		.chart-builder-data-table {
			display: none;
		}
	}
	.wp-chart-builder-chart,
	.wp-chart-builder-table {
		display: none;
		&.active {
			display: inline-block;
			position: relative;
			width: 100%;
			height: auto;
		}
		.wp-block-buttons {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
	.cb__title {
		font-size: 18px !important;
		line-height: 110%;
		font-family: $franklin !important;
		font-weight: 700 !important;
		color: #231f20;
		margin-bottom: 10px;
	}
	.cb__subtitle {
		font-size: 14px !important;
		line-height: 130%;
		color: $scorpion !important;
		font-style: italic !important;
		font-family: $georgia !important;
		margin-bottom: 20px;
	}
	.cb__note {
		font-size: 12px !important;
		line-height: 125%;
		color: $gray !important;
		font-family: $franklin !important;
		margin-top: 20px;
		// @media (prefers-color-scheme: dark) {
		// 	color: rgba(255, 255, 255, 0.6);
		// 	a {
		// 		color: #809fff;
		// 	}
		// }
	}

	.cb__note ~ .cb__note {
		margin-top: auto;
	}

	.cb__tag {
		font-size: 12px !important;
		line-height: 100%;
		letter-spacing: 0.2px;
		font-weight: 500 !important;
		font-family: $franklin !important;
		color: $thunder !important;
		margin-top: 10px;
		// @media (prefers-color-scheme: dark) {
		// 	color: #fff;
		// }
	}
	.wp-chart-builder-table,
	.wp-chart-builder-table.wp-block-prc-block-table {
		table {
			border: none !important;
			width: 100%;
			max-width: 100%;
			overflow-y: scroll;
			overflow-x: scroll;
			tr th {
				font-family:
					"franklin-gothic-urw", Verdana, Geneva, sans-serif !important;
				font-weight: 700 !important;
				background-color: #fff !important;
				font-size: 13px;
				border: none !important;
				border-bottom: 1px dotted #e5e5e5 !important;
			}
			tr td:first-child,
			tr th:first-child {
				background-color: #fff !important;
			}
			tr td {
				font-family:
					"franklin-gothic-urw", Verdana, Geneva, sans-serif !important;
				font-size: 13px !important;
				border: none !important;
				border-bottom: 1px dotted #e5e5e5 !important;
			}
		}
	}
	.share-modal__overlay {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.2);
		z-index: 999;
		display: flex;
		justify-content: center;
		align-items: center;
		opacity: 0;
		visibility: hidden;

		&.active {
			opacity: 1;
			visibility: visible;
		}
		&.web-share-supported {
			display: none !important;
		}
	}
	.share-modal {
		position: absolute;
		width: 100%;
		height: 100%;
		text-align: center;
		top: 0;
		left: 0;
		position: absolute;
		display: flex;
		margin: auto;
		justify-content: center;
		align-items: center;
		visibility: hidden;
		opacity: 0;
		&.active {
			visibility: visible;
			opacity: 1;
		}
		// if the native web share is supported, hide the share modal
		&.web-share-supported {
			display: none !important;
		}
	}
	.share-modal__inner {
		border: 1px solid #dadbdb;
		border-radius: 3px;
		box-shadow: 0px 0px 2px 0px #63646480;
		background-color: #fff;
		padding: 20px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: relative;
		z-index: 1000;
		.share-modal__close {
			position: absolute;
			top: 10px;
			right: 10px;
			font-size: 20px;
			line-height: 100%;
			color: #636464;
			background-color: transparent;
			border: none;
			&:hover {
				color: #000;
				cursor: pointer;
			}
			// @media (prefers-color-scheme: dark) {
			// 	color: #fff;
			// }
		}
		.share-modal__body {
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			align-items: center;
			min-height: 100px;
		}
		h2.share-modal__title {
			font-size: 15px;
			line-height: 18px;
			font-family: $franklin;
			font-weight: 500;
			color: $thunder;
			margin-bottom: 10px;
			text-transform: uppercase;
		}
		.share-modal__button {
			border-radius: 3px;
			border: 1px solid #dadbdb;
			background-color: transparent;
			transition: all 0.2s ease-in-out;
			padding: 5px 10px;
			font-size: 14px;
			line-height: 150%;
			font-family: $franklin;
			font-weight: 500;
			width: 200px;
			&.share-modal__button--twitter {
				color: #000;
				&:hover {
					background-color: #000;
					color: #fff;
					cursor: pointer;
				}
			}
			&.share-modal__button--bluesky {
				color: #1385fe;
				&:hover {
					background-color: #1385fe;
					color: #fff;
					cursor: pointer;
				}
			}
			&.share-modal__button--facebook {
				color: #3b5998;
				transition: all 0.2s ease-in-out;
				&:hover {
					background-color: #3b5998;
					color: #fff;
					cursor: pointer;
				}
			}
		}
		.share-modal__download-png {
			padding: 5px 10px;
			font-size: 14px;
			line-height: 150%;
			font-family: $franklin;
		}
	}
}
.wp-chart-builder-view-buttons {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-bottom: 1em;
	button {
		border: none;
		background-color: transparent;
		padding: 5px 10px;
		margin: 0;
		cursor: pointer;
		font-size: 12px !important;
		font-family: $franklin !important;
		line-height: 100%;
		letter-spacing: 0.2px;
		font-weight: 500;
		width: 60px;
		text-wrap: nowrap;
		color: $thunder !important;
		&:hover {
			font-weight: 700;
		}
		&.active {
			font-weight: 700;
		}
	}
}
